{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}
<div class="row mb-1 g-3">
    <!-- Stat Cards -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-primary shadow h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <div class="text-primary text-uppercase small fw-bold mb-1">
                Talabalar
              </div>
              <div class="h5 fw-bold text-dark">{{ total_members|intcomma }}</div>
            </div>
            <i class="bi bi-people fs-2 text-secondary"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-success shadow h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <div class="small text-success text-uppercase fw-bold mb-1">
                Ijaradagi kitoblar
              </div>
              <div class="h5 fw-bold text-dark mb-0">
                {{ active_loans|intcomma }}
              </div>
            </div>
            <i class="bi bi-book fs-2 text-muted"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-danger shadow h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <div class="small text-danger text-uppercase fw-bold mb-1">
                Muddati o'tganlar
              </div>
              <div class="h5 fw-bold text-dark mb-0">
                {{ overdue_loans.count|intcomma }}
              </div>
            </div>
            <i class="bi bi-exclamation-triangle fs-2 text-muted"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-warning shadow h-100">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <div class="small text-warning text-uppercase fw-bold mb-1">
                2 oyda o‘qilgan kitoblar
              </div>
              <div class="h5 fw-bold text-dark mb-0">
                {{ recent_transactions_count|intcomma }}
              </div>
            </div>
            <i class="bi bi-book fs-2 text-muted"></i>
          </div>
        </div>
      </div>
    </div>
</div>

{% if user.is_librarian %}
<div class="row g-3">

  <!-- Quick Actions: Yangi ijara -->
  <div class="col-12 col-md-6">
    <div class="card shadow-sm mb-2">
      <div class="card-body text-center">
        <a href="{% url 'transactions:create' %}" class="btn btn-success w-100">
          <i class="bi bi-journal-plus me-2"></i> Yangi ijara
        </a>
      </div>
    </div>
  </div>

  <!-- Quick Actions: Ijaralar tarixi -->
  <div class="col-12 col-md-6">
    <div class="card shadow-sm mb-2">
      <div class="card-body text-center">
        <a href="{% url 'transactions:list' %}?returned=False" class="btn btn-primary w-100">
          <i class="bi bi-journal-check me-2"></i> Ijaralar tarixi
        </a>
      </div>
    </div>
  </div>
</div>


<div class="row g-3">
    <!-- Overdue Loans -->
    <div class="col-lg-6 mb-4">
        <div class="card shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-danger">Muddati o'tgan ijaralar</h6>
            </div>
            <div class="card-body">

                <form method="post" action="{% url 'transactions:bulk_confirm' %}">
                    {% csrf_token %}
                    <input type="hidden" name="redirect_to" value="overdue">
                    {% if overdue_loans %}
                    <div class="table-responsive dashboard-table-scroll">
                        <table class="table table-hover table-sm">
                            <thead class="table-light sticky-top">
                                <tr>
                                    <th>№</th>
                                    <th>Kitob</th>
                                    <th>Talaba</th>
                                    <th>Qaytarish sanasi</th>
                                    <th class="text-center">Tanlash</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for loan in overdue_loans %}
                                <tr class="table-danger">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ loan.book_title }}</td>
                                    <td>{{ loan.member }}</td>
                                    <td>{{ loan.return_due_date|date:"Y-m-d" }}</td>
                                    <td class="no-click text-center" onclick="event.stopPropagation();">
                                        {% if not loan.returned %}
                                            <div class="form-check d-flex justify-content-center">
                                                <input class="form-check-input" type="checkbox" name="loans" value="{{ loan.pk }}" onclick="event.stopPropagation();">
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <a href="{% url 'transactions:list' %}?overdue=true"
                           class="btn btn-sm btn-outline-danger">
                           Barchasini ko'rish
                        </a>

                        <button type="submit" class="btn btn-sm btn-primary">
                            Tasdiqlash
                        </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success">Muddati o'tgan ijara yo'q</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <!-- Upcoming Returns -->
    <div class="col-lg-6 mb-4">
        <div class="card shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-danger">Tez orada qaytarilishi kerak</h6>
            </div>
            <form method="post" action="{% url 'transactions:bulk_confirm' %}">
                {% csrf_token %}
                <input type="hidden" name="redirect_to" value="due_soon">
                <div class="card-body">
                    {% if upcoming_returns %}
                    <div class="table-responsive dashboard-table-scroll">
                        <table class="table table-hover table-sm">
                            <thead class="table-light sticky-top">
                                <tr>
                                    <th>Kitob</th>
                                    <th>Talaba</th>
                                    <th>Qaytarish sanasi</th>
                                    <th class="text-center">Tanlash</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for loan in upcoming_returns %}
                                <tr class="{% if loan.due_soon %}table-danger{% else %}table-warning{% endif %}"
                                    onclick="window.location='{% url 'transactions:return' loan.pk %}'"
                                    style="cursor:pointer;"     >
                                    <td>{{ loan.book_title }}</td>
                                    <td>{{ loan.member }}</td>
                                    <td>
                                        {{ loan.return_due_date|date:"Y-m-d" }}
                                        <span class="badge {% if loan.is_overdue %}bg-danger{% else %}bg-warning text-dark{% endif %}">
                                            {% if loan.return_due_date|date:"Y-m-d" == today|date:"Y-m-d" %}
                                                Bugun
                                            {% elif loan.return_due_date|date:"Y-m-d" == tomorrow|date:"Y-m-d" %}
                                                Ertaga
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="no-click text-center" onclick="event.stopPropagation();">
                                        {% if not loan.returned %}
                                            <div class="form-check d-flex justify-content-center">
                                                <input class="form-check-input" type="checkbox" name="loans" value="{{ loan.pk }}" onclick="event.stopPropagation();">
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between mt-2">
                        <a href="{% url 'transactions:list' %}?due_soon=true"
                           class="btn btn-sm btn-outline-warning mt-2">
                           Barchasini ko'rish
                        </a>

                        <button type="submit" class="btn btn-sm btn-primary">
                            Tasdiqlash
                        </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success">Tez orada qaytarilishi kerak bo'lgan kitoblar yo'q</div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}