{% extends "base.html" %}

{% block title %}Kirish{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Kutubxona tizimiga kirish</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'users:login' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            Noto'g'ri foydalanuvchi nomi yoki parol.
                        </div>
                        {% endif %}

                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" type="text" name="username" placeholder="Foydalanuvchi nomi" required/>
                            <label for="username">Foydalanuvchi nomi</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" type="password" name="password" placeholder="Parol" required/>
                            <label for="password">Parol</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <button type="submit" class="btn btn-primary w-100">Kirish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}